input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: hsla(0, 0%, 48%, 0.267);
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: hsla(0, 0%, 48%, 0.267);
}

.new-todo {
  position: relative;
  margin: 0;
  width: 82%;
  font-size: 24px;
  left: 23px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 16px 16px 16px;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0);
}

.new-todo:focus {
  outline: none;
  border: none;
}
