html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todoapp h1 {
  position: absolute;
  top: -120px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btnAdd {
  background-color: rgb(242, 242, 242);
  color: hsla(0, 0%, 48%, 0.5);
  height: 35px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.btnAdd:focus {
  outline: none;
}

footer {
  color: #777;
  padding: 10px 15px;
  height: 50px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters button {
  background-color: #fff;
  color: inherit;
  margin: 4px;
  padding: 2px 8px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.filters button:hover {
  border-color: rgba(168, 39, 39, 0.39);
}

.filters button.selected {
  border-color: rgba(255, 115, 0, 0.61);
}

.btnClear {
  color: inherit;
  text-decoration: none;
  border: none;
  background-color: #fff;
  display: block;
  float: right;
  position: relative;
  line-height: 20px;
  cursor: pointer;
  margin: 2px;
  padding: 3px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

.btnClear:focus,
.btnClear:active {
  outline: none;
}

.btnClear:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.toggle-all {
  width: 35px;
  height: 25px;
  text-align: center;
  border: none;
  opacity: 0;
  left: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.toggle-all + label {
  width: 8px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  transform: rotate(90deg);
}

.toggle-all + label:before {
  content: '❯';
  font-size: 22px;
  color: #cacaca;
}

.toggle-all:checked + label:before {
  color: #737373;
}

header {
  border: none;
  background: rgba(0, 0, 0, 0.047);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.058);
}

.loader {
  display: flex;
  justify-content: center;
}
